<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>condicionales</title>
    <!-- bulma css-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-6 offset-3 text-center">
                {{$data}}
                <h3>Formulario</h3>
                <div class="form-group">
                    <h4>¿Has trabajado con Vue js</h4>
                    <label class="custom-control custom-radio">
                        <input id="radio1" v-model="vue.exp" v-bind:value="true" name="radio" type="radio" class="custom-control-input">
                            Si
                    </label>
                    <label class="custom-control custom-radio">
                        <input id="radio2" v-model="vue.exp" v-bind:value="false" name="radio" type="radio" class="custom-control-input">
                        No
                    </label>
                </div>
                <template v-if="vue.exp">
                    <div class="form-group">
                        <label for="">¿Cuantos años de experiencia?</label>
                        <input v-model="vue.years" type="number" class="form-control">
                    </div>
                    <!-- si tienes un año de experiencia o menos -->
                    <div class="form-group" v-if="vue.years < 2 ">
                        <label for="">Que te incito a usarlo</label>
                        <textarea key="description1" name="description1" v-model="vue.description" id="" cols="30" rows="10"  class="form-control"></textarea>
                        <div class="alert mt-2 alert-danger" v-if="vue.description == ''" role="alert">
                        Alerta Debes de rellenar este campo
                        </div>
                        <div class="alert mt-2 alert-danger" v-else-if="vue.description.trim().length > 10 " role="alert">
                            Alerta Debes de usar menos de 100 caracteres
                        </div>
                        <div class="alert mt-2 alert-success" v-else role="alert">
                        Yeah! Sigue llenando el campo
                        </div>
                    </div>

                    <div class="form-group" v-else >
                        <label for="">Cual es tu exp en Vue.js</label>
                        <textarea key="description2" name="description2" v-model="vue.description" id="" cols="30" rows="10"  class="form-control"></textarea>
                        <div class="alert mt-2 alert-danger" v-if="vue.description.trim() == ''" role="alert">
                            Alerta Debes de rellenar este campo
                        </div>
                        <div class="alert mt-2 alert-danger" v-else-if="vue.description.trim().length > 10 " role="alert">
                            Alerta Debes de usar menos de 100 caracteres
                        </div>
                        <div class="alert mt-2 alert-success" v-else role="alert">
                            Yeah! Sigue llenando el campo
                        </div>
                    </div>
                    <button class="btn btn-info" type="submit">Enviar</button>
                </template>
            </div>
        </div>
    </div>
<script src="https://unpkg.com/vue@2.3.4"></script>
<script>
    const vm = new Vue({
        el: '.container',
        data: {
            vue:{
                exp:null,
                years:0,
                description:''
            }
        }

});
</script>
</body>
</html>