<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Curso de Vue 2">
	<meta name="author" content="https://styde.net">
	<link rel="icon" href="favicon.ico">
	<title>Curso de Vue 2 - Styde.net</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div id="app" class="container">
		<h2>Tareas</h2>
		<ul class="list-group tasks">
			<li class="list-group-item" v-for="(task,index) of tasks" :class="{editing:task.editing, completed:!task.pending}">
				<a href="#"><span @click="toggleStatus(task)" class="glyphicon" :class="task.pending ? 'glyphicon-unchecked':'glyphicon-check'" aria-hidden="true"></span></a>
				<template v-if="!task.editing">
					<span class="description">{{task.description}}</span>
					<div>
						<a @click="editTask(task)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</a>
						<a @click="deleteTask(index)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</a>
				</template>
				<template v-else>
					<input type="text" v-model="draft">
					<div>
						<a @click="updateTask(task)">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</a>
						<a @click="discardTask(task)">
							<span class="glyphicon glyphicon-remove"
							aria-hidden="true"></span>
						</a>
					</div>
				</template>
			</li>
			<a href="" @click="deleteCompleted">eliminar todas las tareas completado</a>
		</ul>
		<form @submit.prevent="createTask" class="new-task-form">
			<input v-model="new_task" type="text" class="form-control">
			<button class="btn btn-primary">Crear tarea</button>
		</form>
		<footer class="footer">
		<p>&copy; 2017 Styde.net.</p>
		</footer>
	</div>
	<script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
	<script>
		var vm = new Vue({
			el: '#app',
			data:{
				new_task:'',
				draft:'',
				tasks:[
					{'description':'tarea n1','pending':false,'editing':false},
					{'description':'tarea n1','pending':true,'editing':false},
					{'description':'tarea n1','pending':true,'editing':true}
				]
			},
			methods:{
				createTask:function(){
					var task = this.new_task.trim();
					if(task.length > 0){
						this.tasks.push({'description':this.new_task,'pending':true,'editing':false});
						this.new_task = '';
					}
					else{
						alert('coloque un texto')
					}
				},
				toggleStatus:function(task){
					task.pending = !task.pending;
				},
				editTask:function(task){
					this.tasks.forEach(function(task){
						task.editing = false 
					})
					task.editing = true;
					this.draft = task.description;
				},
				discardTask:function(task){
					task.editing = false;
				},
				updateTask:function(task){
					task.description = this.draft;
					task.editing = false;
				},
				deleteTask:function(index){
					this.tasks.splice(index, 1);
				},
				deleteCompleted:function(){
					this.tasks = this.tasks.filter(function(task){
						return task.pending;
					})
				}
			}
		});
	</script>
	</body>
</html>