<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Curso de Vue 2">
	<meta name="author" content="https://styde.net">
	<link rel="icon" href="favicon.ico">
	<title>Curso de Vue 2 - Styde.net</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div id="app" class="container">
		<h2>Tareas</h2>
		<ul class="list-group tasks">
			<li v-for="task of tasks" class="list-group-item">
				<a href="#">
					<span v-if="task.pendding" class="glyphicon glyphicon-unchecked" aria-hidden="true"></span>
					<span v-else class="glyphicon glyphicon-check" aria-hidden="true"></span>
				</a>
				<span class="description">{{task.description}}</span>
				<template v-if="task.editing">
					<div>
						<a href="#">
							<span class="glyphicon glyphicon-edit"
						aria-hidden="true"></span>
						</a>
						<a href="#">
							<span class="glyphicon glyphicon-trash"
						aria-hidden="true"></span>
						</a>
					</div>
				</template>
				<template v-else>
					<div>
						<a href="#">
						<span class="glyphicon glyphicon-ok"
						aria-hidden="true"></span>
						</a>
						<a href="#">
						<span class="glyphicon glyphicon-remove"
						aria-hidden="true"></span>
						</a>
						</div>
				</template>
				
			</li>

			<!--
			<li class="list-group-item editing">
			<a href="#"><span
			class="glyphicon glyphicon-unchecked"
			aria-hidden="true"></span></a>
			<input type="text" value="Suscribirse en Styde">
			<div>
			<a href="#">
			<span class="glyphicon glyphicon-ok"
			aria-hidden="true"></span>
			</a>
			<a href="#">
			<span class="glyphicon glyphicon-remove"
			aria-hidden="true"></span>
			</a>
			</div>
			</li>
			<li class="list-group-item completed">
			<a href="#"><span class="glyphicon glyphicon-check"
			aria-hidden="true"></span></a>
			<span class="description">Crear una API</span>
			<div>
			<a href="#">
			<span class="glyphicon glyphicon-edit"
			aria-hidden="true"></span>
			</a>
			<a href="#">
			<span class="glyphicon glyphicon-trash"
			aria-hidden="true"></span>
			</a>
			</div>
			</li>
			-->
		</ul>
		<form class="new-task-form">
			<input type="text" class="form-control">
			<button class="btn btn-primary">Crear tarea</button>
		</form>
		<footer class="footer">
		<p>&copy; 2017 Styde.net.</p>
		</footer>
	</div>
	<script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
	<script>
	var vm = new Vue({
		el: '#app',
		data:{
			tasks:[
				{'description':'Aprender Vue.js','editing':false,'pendding':true},
				{'description':'Aprender webpack','editing':false,'pendding':true},
				{'description':'crear una spa','editing':true,'pendding':true},
			]
		}
	});
	</script>
</body>
</html>
