<!DOCTYPE html>
<html>
<head>
	<title>filtros</title>
	
</head>
<body>
	<div id="app">
		<h1 v-bind:title="name | upper">bienvenido {{ name | upper }}</h1>
		<span>hola {{name | title('sr')}}</span>
		<p>uste es: {{ 9.99 | money}}</p>

	</div>
	<script src="https://unpkg.com/vue@2.3.4"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.4/numeral.min.js"></script>
	<script type="text/javascript">
		Vue.filter('money', function (value) {
		     return value + '.';
		});
		const vm = new Vue({
			el:'#app',
			data:{
				name:'edwar',
				profesion:'desarrollador'
			},
			filters:{
				upper:function(value){
					return value.toUpperCase();
				},
				title:function(value, title){
					return title + '.' + value;
				}
			}
			
		});
	</script>
</body>
</html>