<!DOCTYPE html>
<html>
<head>
	<title>ciclos</title>
	<style type="text/css">
	.stilo1{
		color:red;
		background-color:#333;
		font-size: 18px; 
	}
	.example_li{
		color:green;

	}
	</style>
</head>
<body>
	<div id="app">
		<template v-if="tareas">
		<h1  class="stilo1">lista de tarea </h1>
		<form @submit="tareaNueva">
			<input type="text" name="nuevaTarea" v-model="nuevaTarea"></input>
			<input type="submit" value="enviar"></input>
		</form>
		
		<ul v-for="(tarea, key, index) of tareas">
			<li v-if="tarea.estado" @click="cambiar()" :class="{'example_li':tarea.estado}">
				<del>{{index + 1}} -  <strong>{{key}} : {{tarea.tarea}}</strong></del></li>
			<li v-else>{{index + 1}} - <strong>{{key}} : {{tarea.tarea}}</strong></li>
		</ul>
		</template>
		<h1 v-else="">no hay nada que mostrar</h1>

	</div>
	<script src="https://unpkg.com/vue@2.3.4"></script>
	<script type="text/javascript">
		const vm = new Vue({
			el:'#app',
			data:{
				nuevaTarea:'',
				tareas:[
					{'tarea':'aprender vue.js','estado':false},
					{'tarea':'aprender full javascript',estado:true},
					{'tarea':'crear un blog para compartir conocimientos','estado':true}
				],	
			},
			methods:{
				cambiar:function(){
					this.tareas.filter(tarea =>this.tareas.estado)
				},
				tareaNueva:function(event) {
					event.preventDefault();
					this.tareas.push({tarea:this.nuevaTarea,estado:false});
				}
			},
			computed:{
				togglet:function(){
				}
			}
		});
	</script>
</body>
</html>